<header>
  <h1>Songs By Sinatra</h1>
  <nav>
    <li><a href="/" title="Home">Home</a></li>
    <li><a href="/about" title="About">About Us</a></li>
    <li><a href="/contacts" title="Contact Us">Contact Us</a></li>
  </nav>
</header>
