<form class="form-position" action="/login" method="POST">
  <div class="col-xs-12 col-md-5 mb-3">
    <label for="username" class="form-label">Username:</label>
    <input name="username" type="text" class="form-control" autocomplete="off">
  </div>
  <div class="col-xs-12 col-md-5 mb-3">
    <label for="exampleInputPassword1" class="form-label">Password:</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
