h1 {
  margin-top: 10px;
  color: #903;
  font: 32px/1 Helvetica, Arial, sans-serif;
}

header h1 {
  font-size: 40px;
  line-height: 80px;
  background: transparent url(images/logo.png) 0 0 no-repeat;
  padding-left: 84px;
}

.navbar-brand {
  font: 20px/1.4 Helvetica, Arial, sans-serif;
}

.nav-link {
  font: 18px/1.4 Helvetica, Arial, sans-serif;
}

p {
  font: 18px/1.4 Helvetica, Arial, sans-serif;
}

.nav-link[aria-current="page"] {
  text-decoration: underline wavy #903 0.15rem;
  text-underline-offset: 0.5rem;
}
